<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    {% include "./navbar.html" %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Address</th>
            <th scope="col">Email Id</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Date Of Birth</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for user in data%}
            <th scope="row">{{user.id}}</th>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.address}}</td>
            <td>{{user.emailid}}</td>
            <td>{{user.phonenumber}}</td>
            <td>{{user.dateofbirth}}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
</body>
</html>